.main-container

	//- The bomb image
	webicon.bomb(
	icon="bomb")

	//- The text over the bomb
	bomb-screen(
	bomb-screen-text="{{ vm.data.bombScreenText }}")

	//- The text over the computer screen
	computer-screen(
	computer-screen-text="{{ vm.data.computerScreenText }}"
	computer-screen-wait-input="{{ vm.data.computerScreenWaitInput }}")

	//- Video
	//video.video-js.vjs-default-skin(
	//preload="auto"
	//width="640"
	//height="264"
	//vjs-video)

		//- Video source
		source(
		src="medias/videos/explosion.mp4"
		type="video/mp4")