//- Main text
span.screen-text.main-text(
dir-terminal-type=""
start-typing="{{ vm.data.isReady }}"
duration="1400"
on-completion="vm.methods.onMainCompletion()") {{ vm.computerScreenText }}

//- Commands
.commands(
ng-if="vm.data.showTexts")

	//- Texts
	span.screen-text.text(
	ng-repeat="text in vm.data.texts track by $index") {{ text }}

	//- Current text
	.current-text

		//- Current text
		span.screen-text.current-text {{ vm.data.currentText }}

		//- Caret
		.dirTerminalType-caret(
		ng-if="vm.data.showStaticCaret")
